#bg {
  background-image: url("../../assets/images/bg_users.jpg");
  margin: 11px;
  background-position: 80% 80%;
  background-size: contain;
}

.title {
  color: white;
  background-color: black;
  display: inline-block;
  text-decoration: underline;
}
