<div id="bg">
  <div class="container mt-1">
    <br />
    <div class="card bg-success text-white">
      <div class="card-body">
        <h3>Who are we?</h3>

        Our web development bootcamp is an intensive, project-based learning
        experience, where students learn web development and work on real-world
        web applications and sites, including front-end and back-end web
        development work.
      </div>
    </div>
    <br />
    <div class="card bg-dark text-white">
      <div class="card-body">
        <h3>What are our goals?</h3>

        Given the complexity of the position, becoming a web developer may seem
        complicated, but the actual procedure is simple. This article can answer
        the question, "What is a web developer?" details on the schooling needed
        to begin careers in this area.
      </div>
    </div>
    <br />
    <div class="card bg-secondary text-white">
      <div class="card-body">
        <h3>How our bootcamp works?</h3>

        It's a very simple procedure, all you have to do is to register by
        filling your account info and choosing your membership course you want
        to learn. In case you didn't like or you have critisism, provide us your
        feedback to improve our services.
      </div>
    </div>
    <br />
  </div>
</div>
